<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Reset your password</h1>
    <p>Please use the following code to reset your password:</p>
    <span>${shortCode}</span>
    <!-- <h1>Reset your password</h1>
    <p>Please use the following link to reset your password:</p>
    <p>${process.env.CLIENT_URL}/auth/password/reset/${token}</p> -->
  </body>
</html>
